@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
}

body{
  position: relative;
}

@keyframes weight{
  0% {
    font-weight: 100;
  }
  50% {
    font-weight: 800;
  }
  100%{
    font-weight: 100;
  }
}

p{
  color: #fff;
  font-size: 2.4vw;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0; padding: 0;
  text-align: center;
  font-weight: bold;
  user-select: none;
  font-family: 'Pretendard Variable', sans-serif;
  animation: weight 3s infinite;
}